{% extends 'backend.html.twig' %}

{% block title %}{{ parent() }} Tableau de bord{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            Tableau de bord
        </div>
    </div>
{% endblock %}

