{% extends 'base.html.twig' %}



{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ absolute_url(path('backend')) }}">Backend</a>
        </div>
    </div>
{% endblock %}

