{% extends 'base.html.twig' %}



{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ absolute_url('backend') }}">Backend</a>
        </div>
    </div>
{% endblock %}

